#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
node_modules
/lib
*.tsx
yarn.lock
/dist
exclude
